[submodule "vesc"]
	path = vesc
	url = https://github.com/TeoIlie/vesc
	branch = humble
[submodule "ackermann_mux"]
	path = ackermann_mux
	url = https://github.com/TeoIlie/ackermann_mux
	branch = foxy-devel
[submodule "teleop_tools"]
	path = teleop_tools
	url = https://github.com/TeoIlie/teleop_tools
	branch = humble-devel
[submodule "recovery_controller"]
	path = recovery_controller
	url = https://github.com/TeoIlie/recovery_controller.git
	branch = main
